
<div class="ui segment">
  <div class="image">
    <img class="ui small centered image" src="assets/images/UWindsor_Logo_Rev.png" alt="">
  </div>
</div>
<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: -20%;
    background-color: black;
    color: white;
    text-align: center;
  }
</style>

<div class="ui top attached tabular menu">
  {{#link-to "home"}}
    <a class="item">
      <i class="home icon"></i>
      Home
    </a>
  {{/link-to}}

  {{#link-to "posts"}}
    <a class ="item">Posts</a>
  {{/link-to}}
  {{#link-to "contact"}}<a class="item">Contact</a>{{/link-to}}

  {{#link-to "about" }}
    <a class ="item">About</a>
  {{/link-to}}

</div>
<div class="ui container">
  {{outlet}}
</div>
<br>
<footer class="Footer">

  <!-- Copyright -->
  <div class="footer">
    <p>Copyright S2G9 Inc - 2019</p>

  </div>
  <!-- Copyright -->

</footer>